.box{
    border: 2px solid black;
   margin: 44px;
 width: 80vw;
   padding: 22px;
 height: 170px; 


    text-align: center;
    background-color: blueviolet;
    font-size: 10px;
    font-style: italic;
    text-decoration: underline;
    text-decoration-style:wavy;
}
#red{
    background-color: blue;
}
*{
    margin: 0;
    padding: 0;
}
/* if we want to target first child  */
div.box>p{
    color: aliceblue;
}
div p{
    color: blue;
}
a:hover{
    background-color: black;
}
p:nth-child(2){
    color: black;
}

.box1{
/* position: sticky;
top: 0px;
 margin: 0;
padding: 0;  */

/*////////////////////////*/


/* position: absolute;
top: 0px;
left:3px; */

}
.box4{
    /* position: fixed;
    bottom: 0px;
    height: 90px;
    margin: 0; */

}

.container{
    margin: 33px;
    border: 2px solid black;
    /* position: relative; */
}