*{
    margin: 0;
    padding: 0;

}
.navbar{
    z-index: 1000;
    position: sticky;
    top: 0;
  
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid  rgb(140, 172, 177) ;
    background-color: rgb(180, 197, 212);
}
.bullet a{
    margin: 9px;
    text-decoration: none;
    padding: 10px}

.bullet a:hover{
    color: blue;
}
.bullet a:active{
    background-color: rgb(157, 157, 218);
}
#hero{
    background-image: url("mainpic/shop\ main2.webp");
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main h3{
    text-align: center;
}
.product{
   
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#product h1{
    font-size: 66px;
    text-align: center;
    color: rgb(233, 196, 149);
}
#product h3{
    font-size: 33px;
    text-align: center;
    color: gray;
}
.pro img{
    border-radius: 10px;
    margin: 13px;
}
.pro{
    border: 2px solid rgb(188, 188, 223);
    cursor: pointer;  
    margin: 20px;
}
.pro:hover{
    box-shadow: 20px 20px 34px rgb(208, 208, 224);
}
.about{
    margin: 13px;  
}
.link{
    background-image: url(mainpic/banner3.jpeg);
    background-repeat: no-repeat;
    height: 20vh;
    background-size: cover;
   
    display: flex;
    align-items: center;
 justify-content: space-evenly;
}
.te{
    margin-left: 33px;
}
.inpu input{
   font-size: 14px;
   border-radius: 8px;
   background-color: bisque;
   padding: 4px;
}
.inpu button{
    font-size:14px ;
    border-radius: 8px;
    background-color: bisque;
    padding: 4px;
    cursor: pointer;
}
.foot{
    display: flex;
    justify-content: space-evenly;
    margin-top: 33px;
}
.foot h3{
    margin-bottom: 33px;
    color: rgb(36, 35, 35);
}
.foot h4{
    color: rgb(189, 173, 173);
}
#nextpage{
    text-align: center;
    font-size: 34px;
    margin: 24px;
}
#nextpage a{
    margin: 4px;
    text-decoration: none;
    background-color:#088178;
    border-radius: 4px;
    color: aliceblue;

    padding: 5px;
}
#nextpage button{
    font-size: 24px;
    background-color:#088178;
    padding: 5px;
    border-radius: 4px;
    color: aliceblue;
    border-color: transparent;
}

@media (max-width:499px) {
    .inpu input{
        font-size: 10px;  
    }
  .text button{
    margin-top: 4px;
  }
    .foot{
        display: flex;
        flex-direction: column;  
    }
    .bullet{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        
    }
    .box{
        margin: 5px;
    }
    .link{
        height: 40vh;
    }
 
} 